NEXT_PUBLIC_SITE_URL=https://bergenstjerne-lodd.vercel.app
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SECRET_KEY=

VIPPS_BASE_URL=https://apitest.vipps.no
VIPPS_CLIENT_ID=
VIPPS_CLIENT_SECRET=
VIPPS_SUBSCRIPTION_KEY=
VIPPS_MSN=518176

ADMIN_PASSWORD=

# Intern varsling om vinnere
NOTIFY_EMAIL=post@bergensi.no
RESEND_API_KEY=
RESEND_FROM_EMAIL=
